h6 {
    font-size: 20px;
}

main {
    margin-top: var(--header-height);
}

.cart .cart-items {
    padding: 0 16px;
    margin-top: 16px;
}

.cart .cart-items > .row{
    background: white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart .cart-items .cart-item-img {
    display: flex;
    align-items: center;
    background: #bbb;
    border-radius: 8px;
}

.cart .cart-items .cart-item-img img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 140px;
}

.cart .cart-items .cart-item-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .cart-items .cart-item-btn .change-number-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.cart .cart-items .cart-item-btn .decrease-btn,
.cart .cart-items .cart-item-btn .increase-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 0;
    background: none;
}

.cart .cart-items .cart-item-btn .remove-item-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #dadada;
    font-size: 12px;
    border: none;
}

.cart .cart-items .cart-item-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.delivery .delivery-info {
    padding: 0 16px;
    margin-top: 16px;
}

.delivery .delivery-info > .row {
    background: white;
    border-radius: 10px;
    margin: 0;
    padding: 8px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    gap: 16px;
}

.delivery .delivery-info .name,
.delivery .delivery-info .phone,
.delivery .delivery-info .address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.payment-method .payment-select {
    border-radius: 10px;
    padding: 8px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
}

.payment-method label {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    column-gap: 16px;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    margin: 16px 0;
    background: rgb(246, 246, 246);
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.payment-method input {
    display: none;
}

.payment-method input:checked~label{
    border: 1px solid var(--main-color);
    background: white;
}

.payment-method label img {
    width: 40px;
}

.checkout .checkout-calc {
    background: white;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    row-gap: 12px;
}

.checkout .checkout-calc .checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.checkout-confirm {
    background: white;
    padding: 24px;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
}

.checkout-confirm .row {
    padding: 0 12px;
}

.checkout-confirm .total-item {
    font-weight: 600;
    padding: 0;
}

.checkout-confirm .checkout-confirm-btn {
    background: var(--main-color);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 0;
}

.modal .modal-content {
    border-radius: 10px;
    border: 1px solid var(--main-color);
}

.modal .modal-footer button {
    text-transform: uppercase;
    transition: .3s
}

.modal .modal-footer button:hover {
    transform: scale(1.05);
}

.modal .modal-footer .accept-btn {
    background: var(--main-color);
    border: none;
}

.modal .modal-footer .cancel-btn {
    border: 1px solid var(--main-color);
}

.modal-backdrop.show {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.toast-container {
    top: var(--header-height);
}

@media (max-width: 1499px) {
    .scroll-to-top {
        bottom: 150px;
    }
}